  /*
    Program name: style.css
    Author: Hoan My Le
    Date created: 2025-09-10
    Date last edited: 2025-09-26
    Version: 1.0
    Description: MIS 3371 Homework 1... learning CSS and creating a form
*/
.border {
  display: inline-block;
  font-weight: bold;
  font-family: Calibri;
  background-color: #eef1ff;
  border: 1px solid #97a1d8; 
  padding: 10px 15px; 
  margin: 10px 0;
  width:500px;           
  }

.border2 {
  display: inline-block;
  font-weight: bold;
  font-family: Calibri;
  background-color: #ffe6cc;
  border: 1px solid #d79b00; 
  padding: 10px 15px; 
  margin: 10px 0;
  width:500px;           
  }

.border3 {
  display: inline-block;
  font-weight: bold;
  font-family: Calibri;
  background-color: #f6e8fc;
  border: 1px solid #a887b8; 
  padding: 10px 15px; 
  margin: 10px 0;
  width:500px;           
  }

.form {
  background-color: #fafafa;
  border-spacing: 10px;
  }

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;

}
