  /*
    Program name: style.css
    Author: Hoan My Le
    Date created: 2025-11-14
    Date last edited: 2025-12-10
    Version: 1.0
    Description: MIS 3371 Extra Credit...
*/
.border {
  display: inline-block;
  font-weight: bold;
  font-family: Calibri;
  background-color: #eef1ff;
  border: 1px solid #97a1d8; 
  padding: 10px 15px; 
  margin: 10px 0;
  width:500px;           
  }

.border2 {
  display: inline-block;
  font-weight: bold;
  font-family: Calibri;
  background-color: #ffe6cc;
  border: 1px solid #d79b00; 
  padding: 10px 15px; 
  margin: 10px 0;
  width:500px;           
  }

.border3 {
  display: inline-block;
  font-weight: bold;
  font-family: Calibri;
  background-color: #f6e8fc;
  border: 1px solid #a887b8; 
  padding: 10px 15px; 
  margin: 10px 0;
  width:500px;           
  }

.form {
  background-color: #fafafa;
  border-spacing: 10px;
  }

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;

}

table.output, tr.output, td.output {
  width: 80%;
  opacity: 0.9;
  font-family: Arial, Helvetica, sans-serif;
  background-color:#0f3889;
  padding: 2px;
  border-spacing: 2px;
  color:white;
}
td.outputdata {
  width: 80%;
  opacity: 0.9;
  font-family: Arial, Helvetica, sans-serif;
  background-color:white;
  padding: 2px;
  border-spacing: 2px;
  color:black;
}

.header {
  position: sticky;
  top: 0;
  padding: 10px 16px;
  background: white;
}

.content {
  padding: 16px;
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #0f3889;
   color: white;
   text-align: center;
   font-size: 15px;
   font-family: Times New Roman;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #dcdcdc;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: black;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.openbtn {
  font-size: 15px;
  cursor: pointer;
  background-color: #0f3889;
  color: white;
  padding: 10px 15px;
  border: none;
}
.openbtn:hover {
  background-color: black;
}
#main {
  transition: margin-left .5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a{font-size: 18px;}
}
